.phone-detail__main {
    margin-bottom: 5vh;
    padding: 25px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #6433b3, #8b56bf, #ac7acc, #c9a0da, #e3c7e9);
}

// .phone-detail__content.card {

// }