.app__footer {
    color:black;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }

  .link__github {
    text-decoration: none;
    color:blue;
}

.footer__text {
  text-align: center;
}
