@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Grand+Hotel&display=swap");

.app__header {
  top: 0px;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  h1 {
    color: #652a7a;
    font-size: 12px;
    margin-left: 10px;
  }
}
